<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>se.kovanen.songlink</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0F46B390-9DD9-4EAE-BBBF-148217867C13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB59790-294E-42B8-BCC5-D784F01B5D04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5CEDA93F-E75E-4044-8121-955EAA0BF053</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>open in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lari Kovanen</string>
	<key>description</key>
	<string>Create a song.ling url from your clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>song.link</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2BB59790-294E-42B8-BCC5-D784F01B5D04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>songlink</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>app.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Creates song.link url from clipboard</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F46B390-9DD9-4EAE-BBBF-148217867C13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5CEDA93F-E75E-4044-8121-955EAA0BF053</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Creates a song.link url from the clipboard.

Share music links with your friends that aren't tied to a specific platform.

Enter copies the song.link url to the clipboard.
Cmd-Enter open song.link url in your default browser.</string>
	<key>uidata</key>
	<dict>
		<key>0F46B390-9DD9-4EAE-BBBF-148217867C13</key>
		<dict>
			<key>note</key>
			<string>Creates a song.link url</string>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>2BB59790-294E-42B8-BCC5-D784F01B5D04</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>5CEDA93F-E75E-4044-8121-955EAA0BF053</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>http://kovanen.se/</string>
</dict>
</plist>
